.helpText {
    color: var(--text-tertiary);
}

.xs {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}

.md {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}

.l {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.xl {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.error {
    color: var(--text-error-primary);
}
