.label {
    color: var(--text-primary);
}

.xs {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
}

.md {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
}

.l {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
}

.xl {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
}

.required {
    color: var(--required);
}

.disabled {
    color: var(--text-quaternary);
}

.textTruncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
