.container {
    display: flex;
    color: var(--fore-ground);
}

.xs {
    padding-right: 7px;
    padding-left: 7px;
}
.md {
    padding-right: 7px;
    padding-left: 7px;
}
.l {
    padding-right: 7px;
    padding-left: 7px;
}
.xl {
    padding-right: 9px;
    padding-left: 9px;
}
