.app_light_ui_theme {
    --bg-color: #fff;
    --text-primary: #1a1a1e;
    --text-disabled: #d1d1d6;
    --text-quaternary: #70707b;
    --text-tertiary: #51525c;
    --text-error-primary: #d92d20;
    --gray-primary: #70707b;
    --border-primary: #d1d1d6;
    --border-error: #fda29b;
    --required: red;
    --fore-ground: #a0a0ab;
}
